/* Light Theme */
[data-theme="light"] {
  background-color: #e4e1f0;
  color: #3d3636; 

  .search-input {
    background-color: #c5bfdd;
    color: #3d3636; 
  }

  .search-button {
    background-color: #c5bfdd; 
    color: #3d3636; 
  }

  .action-button, .favorites-action-button {
    background-color: transparent;
    color: #3d3636; 
  }
  .collapsible-button {
    color: #3d3636;
    background-color:  #e4e1f0;
  }

  .word-item, .word-item-favorites {
    background-color: #c5bfdd;; 
    color: #3d3636; 
  }

  .phonetic-item, .phonetic-item-favorites {
    background-color: #cdc7e8; 
    color: #3d3636;
  }

  .meaning-item, .meaning-item-favorites {
    background-color: #e4e1f0;
    color: #3d3636;
  }

  .definition-item, .definition-item-favorites {
    background-color: #c5bfdd;
    color: #3d3636;
  }
}

/* Dark Theme */
[data-theme="dark"] {
  background-color: #190c29;
  color: #e0e0e0;

  .search-input {
    background-color: #2b2a2c;
    border-color: #2e1a47;
    color: #e0e0e0;
  }

  .search-button {
    background-color: #2e1a47;
    color: #e0e0e0;
  }

  .action-button {
    background-color:transparent;
    color: #e0e0e0;
  }
  .favorites-action-button{
    color: #e0e0e0;
  }

  .word-item, .word-item-favorites {
    background-color: #2e1a47;
    border-color: #2e1a47;
  }

  .meaning-item, .meaning-item-favorites {
    background-color: #190c29;
    border-color: #2e1a47;
  }

  .definition-item, .definition-item-favorites  {
    background-color: #2e1a47;
    border-color: #322245;
  }

  .phonetic-item, .phonetic-item-favorites {
    background-color: #190c29;
    border-color: #2e1a47;
  }

}